QUANT_ENGINE_HOST=127.0.0.1
QUANT_ENGINE_PORT=8091
QUANT_ENGINE_RULE_MODEL_VERSION=rule-v1.0.0
QUANT_ENGINE_DEFAULT_DEADLINE=15:00:00
QUANT_ENGINE_LOG_LEVEL=INFO
QUANT_ENGINE_WORKERS=1
QUANT_ENGINE_BACKTEST_WORKERS=6
QUANT_ENGINE_MAX_BATCH_FUNDS=500
QUANT_ENGINE_MAX_PARAM_GRID=100
QUANT_ENGINE_CACHE_DIR=.cache
QUANT_ENGINE_ENABLE_PARQUET_CACHE=true
QUANT_ENGINE_LGBM_N_JOBS=8
